In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
!mkdir -p ~/.kaggle
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d corrieaar/apartment-rental-offers-in-germany

apartment-rental-offers-in-germany.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
!ls

apartment-rental-offers-in-germany.zip	drive  files  sample_data

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
%matplotlib inline

In [6]:
import zipfile
zip_ref = zipfile.ZipFile('apartment-rental-offers-in-germany.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()
df=pd.read_csv('/content/files/immo_data.csv')

In [7]:
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [9]:
nullPrcnt = df.isnull().sum()/df.shape[0] * 100
nullPrcnt.sort_values(ascending=True)

regio1                       0.000000
regio3                       0.000000
regio2                       0.000000
livingSpaceRange             0.000000
garden                       0.000000
noRoomsRange                 0.000000
noRooms                      0.000000
geo_plz                      0.000000
baseRentRange                0.000000
lift                         0.000000
street                       0.000000
geo_krs                      0.000000
livingSpace                  0.000000
baseRent                     0.000000
cellar                       0.000000
geo_bln                      0.000000
date                         0.000000
balcony                      0.000000
scoutId                      0.000000
newlyConst                   0.000000
hasKitchen                   0.000000
picturecount                 0.000000
pricetrend                   0.681421
serviceCharge                2.569834
description                  7.344988
telekomTvOffer              12.132788
telekomUploadSpeed          12.407662
typeOfFlat                  13.618747
totalRent                   15.070485
heatingType                 16.684397
floor                       19.084620
facilities                  19.685326
firingTypes                 21.188023
yearConstructed             21.218151
yearConstructedRange        21.218151
condition                   25.474800
streetPlain                 26.413614
houseNumber                 26.415473
numberOfFloors              36.351869
thermalChar                 39.615399
interiorQual                41.906267
petsAllowed                 42.615957
noParkSpaces                65.388879
heatingCosts                68.191185
lastRefurbish               69.979171
energyEfficiencyClass       71.066766
electricityKwhPrice         82.575414
electricityBasePrice        82.575414
telekomHybridUploadSpeed    83.254603
dtype: float64

In [10]:
nullCol = df.columns[nullPrcnt > 30]
nullCol

Index(['telekomHybridUploadSpeed', 'noParkSpaces', 'interiorQual',
       'petsAllowed', 'thermalChar', 'numberOfFloors', 'heatingCosts',
       'energyEfficiencyClass', 'lastRefurbish', 'electricityBasePrice',
       'electricityKwhPrice'],
      dtype='object')

In [11]:
df = df.drop(columns = nullCol)
df.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'newlyConst', 'balcony', 'picturecount', 'pricetrend',
       'telekomUploadSpeed', 'totalRent', 'yearConstructed', 'scoutId',
       'firingTypes', 'hasKitchen', 'geo_bln', 'cellar',
       'yearConstructedRange', 'baseRent', 'houseNumber', 'livingSpace',
       'geo_krs', 'condition', 'street', 'streetPlain', 'lift',
       'baseRentRange', 'typeOfFlat', 'geo_plz', 'noRooms', 'floor',
       'noRoomsRange', 'garden', 'livingSpaceRange', 'regio2', 'regio3',
       'description', 'facilities', 'date'],
      dtype='object')

In [12]:
# Deleting rows without totalRent data
df.dropna(subset = ["totalRent"], inplace = True)
df.reset_index(drop = True, inplace = True)
df.shape

(228333, 38)

In [13]:
# Deleting columns without useful data
delCol=['facilities','description','street','geo_bln','geo_krs','geo_plz','scoutId','telekomTvOffer','regio3','noRoomsRange','picturecount','date','houseNumber','yearConstructedRange']
df = df.drop(columns = delCol)
df.shape

(228333, 24)

In [14]:
# checking for dublicated rows
df.duplicated().value_counts()

False    226336
True       1997
dtype: int64

In [15]:
df.drop_duplicates(inplace=True)
df.shape

(226336, 24)

In [16]:
# filling rest null numeric data by mean of each column
df.fillna(df._get_numeric_data().mean(),inplace = True)
df.isnull().sum()

regio1                    0
serviceCharge             0
heatingType           36423
newlyConst                0
balcony                   0
pricetrend                0
telekomUploadSpeed        0
totalRent                 0
yearConstructed           0
firingTypes           48026
hasKitchen                0
cellar                    0
baseRent                  0
livingSpace               0
condition             56554
streetPlain           53662
lift                      0
baseRentRange             0
typeOfFlat            30236
noRooms                   0
floor                     0
garden                    0
livingSpaceRange          0
regio2                    0
dtype: int64

In [17]:
# filling null categorical data with most common class
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))
df.isnull().sum()

regio1                0
serviceCharge         0
heatingType           0
newlyConst            0
balcony               0
pricetrend            0
telekomUploadSpeed    0
totalRent             0
yearConstructed       0
firingTypes           0
hasKitchen            0
cellar                0
baseRent              0
livingSpace           0
condition             0
streetPlain           0
lift                  0
baseRentRange         0
typeOfFlat            0
noRooms               0
floor                 0
garden                0
livingSpaceRange      0
regio2                0
dtype: int64

In [18]:
# filling null categorical data with most common class
df = df.apply(lambda x: x.fillna(x.value_counts().index[0]))
df.isnull().sum()

regio1                0
serviceCharge         0
heatingType           0
newlyConst            0
balcony               0
pricetrend            0
telekomUploadSpeed    0
totalRent             0
yearConstructed       0
firingTypes           0
hasKitchen            0
cellar                0
baseRent              0
livingSpace           0
condition             0
streetPlain           0
lift                  0
baseRentRange         0
typeOfFlat            0
noRooms               0
floor                 0
garden                0
livingSpaceRange      0
regio2                0
dtype: int64

In [19]:
# check outliers using IQR
for cols in df.columns:
    if df[cols].dtype == 'int64' or df[cols].dtype == 'float64':
        Q1 = df[cols].quantile(0.2)
        Q3 = df[cols].quantile(0.8)
        IQR = Q3 - Q1
        res = df[(df[cols] < (Q1 - 1.5 * IQR)) | (df[cols] > (Q3 + 1.5 * IQR))].index
        df = df.drop(res)

df.shape

(203102, 24)

# Task 1

implement linear regression from scratch

In [20]:
train_df = df[['heatingType' , 'serviceCharge' , 'telekomUploadSpeed' , 'totalRent']]
train_df

,heatingType,serviceCharge,telekomUploadSpeed,totalRent
0,central_heating,245.0,10.000000,840.00
1,floor_heating,255.0,2.400000,1300.00
2,self_contained_central_heating,138.0,28.915284,903.00
3,self_contained_central_heating,70.0,2.400000,380.00
4,central_heating,88.0,2.400000,584.25
...,...,...,...,...
228328,gas_heating,80.0,2.400000,670.00
228329,heat_pump,90.0,10.000000,910.00
228330,gas_heating,220.0,28.915284,1150.00
228331,central_heating,220.0,40.000000,930.00
228332,heat_pump,175.0,28.915284,1015.00

In [21]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()
train_df['heatingType'] = ord_enc.fit_transform(train_df[['heatingType']])
train_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        heatingType  serviceCharge  telekomUploadSpeed  totalRent
0               0.0          245.0           10.000000     840.00
1               4.0          255.0            2.400000    1300.00
2               9.0          138.0           28.915284     903.00
3               9.0           70.0            2.400000     380.00
4               0.0           88.0            2.400000     584.25
...             ...            ...                 ...        ...
228328          5.0           80.0            2.400000     670.00
228329          6.0           90.0           10.000000     910.00
228330          5.0          220.0           28.915284    1150.00
228331          0.0          220.0           40.000000     930.00
228332          6.0          175.0           28.915284    1015.00

[203102 rows x 4 columns]

In [22]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()
train_df[['serviceCharge' ,	'telekomUploadSpeed']] = std.fit_transform(train_df[['serviceCharge' ,	'telekomUploadSpeed']])
train_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

        heatingType  serviceCharge  telekomUploadSpeed  totalRent
0               0.0       1.691831           -1.241509     840.00
1               4.0       1.851049           -1.740272    1300.00
2               9.0      -0.011802           -0.000163     903.00
3               9.0      -1.094485           -1.740272     380.00
4               0.0      -0.807893           -1.740272     584.25
...             ...            ...                 ...        ...
228328          5.0      -0.935267           -1.740272     670.00
228329          6.0      -0.776049           -1.241509     910.00
228330          5.0       1.293786           -0.000163    1150.00
228331          0.0       1.293786            0.727290     930.00
228332          6.0       0.577305           -0.000163    1015.00

[203102 rows x 4 columns]

In [23]:
X=train_df.drop(['totalRent'], axis=1)
y=train_df['totalRent']

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=50)
X_train

        heatingType  serviceCharge  telekomUploadSpeed
177095          0.0      -0.298395            0.727290
206341          9.0      -1.285547            0.727290
41548           0.0       0.179259           -1.740272
224742          0.0       2.567531            0.727290
149169          0.0      -1.174094           -0.000163
...             ...            ...                 ...
66227           0.0       0.083729            0.727290
201570          2.0      -0.616831           -0.000163
172381          0.0      -2.209012            0.727290
116352          0.0       2.567531           -0.000163
162635          0.0       0.179259            0.727290

[162481 rows x 3 columns]

In [25]:
class LinearRegression() :
	def __init__( self, learning_rate, iterations ) :	
		self.learning_rate = learning_rate
		self.iterations = iterations
		
	def fit( self, X, Y ) :
		self.m, self.n = X.shape
		self.W = np.zeros( self.n )	
		self.b = 0	
		self.X = X	
		self.Y = Y
				
		for i in range( self.iterations ) :		
			self.update_weights()			
		return self

	def update_weights( self ) :			
		Y_pred = self.predict( self.X )
		# calculate gradients
		dW = - ( 2 * ( self.X.T ).dot( self.Y - Y_pred ) ) / self.m
		db = - 2 * np.sum( self.Y - Y_pred ) / self.m
		# update weights
		self.W = self.W - self.learning_rate * dW	
		self.b = self.b - self.learning_rate * db		
		return self

	def predict( self, X ) :	
		return X.dot( self.W ) + self.b

In [26]:
def mean_squared_error(y_test, y_pred):
  sub = y_test-y_pred
  MSE = np.square(sub).mean()
  return MSE

In [27]:
model = LinearRegression( iterations = 1000, learning_rate = 0.01 )
model.fit(X_train, y_train)
y_pred = model.predict( X_test )


result = pd.DataFrame({'test':y_test,'prediction':y_pred})
result

           test   prediction
109352   772.00   549.656155
54549    830.00   837.192867
40538    593.00   493.442456
35994    880.63   675.630174
190506   870.00   765.087686
...         ...          ...
107843  1500.00  1009.068073
224264   351.50   385.161077
221341   545.00   481.203290
30218    270.00   490.004952
112690   660.00   905.942949

[40621 rows x 2 columns]

In [28]:
mean_squared_error(y_test, y_pred)

67288.17804397023

In [29]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

196.3908870019855

# Task 2
linear regression with sklearn

In [30]:
from sklearn.linear_model import LinearRegression
LR_model = LinearRegression()
LR_model.fit(X_train,y_train)
y_pred = LR_model.predict(X_test)
result = pd.DataFrame({'test':y_test,'prediction':y_pred})
result

           test   prediction
109352   772.00   549.656594
54549    830.00   837.193290
40538    593.00   493.442864
35994    880.63   675.630590
190506   870.00   765.087470
...         ...          ...
107843  1500.00  1009.068503
224264   351.50   385.161480
221341   545.00   481.203296
30218    270.00   490.005360
112690   660.00   905.943375

[40621 rows x 2 columns]

In [31]:
mean_squared_error(y_test, y_pred)

67288.17936719474

In [32]:
mean_absolute_error(y_test, y_pred)

196.39094340468282

# Task 3

lasso , ridge regression

In [33]:
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [34]:
model_lasso = Lasso(alpha=0.1)
model_lasso.fit(X_train, y_train)
y_pred_lasso = model_lasso.predict(X_test)
result = pd.DataFrame({'test':y_test,'prediction':y_pred_lasso})
result

           test   prediction
109352   772.00   549.908728
54549    830.00   837.079681
40538    593.00   493.483691
35994    880.63   675.589565
190506   870.00   764.941127
...         ...          ...
107843  1500.00  1008.877676
224264   351.50   385.250954
221341   545.00   481.394949
30218    270.00   490.047731
112690   660.00   905.798879

[40621 rows x 2 columns]

In [35]:
mean_squared_error(y_test, y_pred)

67288.17936719474

In [36]:
mean_absolute_error(y_test, y_pred_lasso)

196.39593706890702

In [37]:
model_ridge = Ridge(alpha=1)
model_ridge.fit(X_train, y_train)
y_pred_ridge = model_ridge.predict(X_test)
result = pd.DataFrame({'test':y_test,'prediction':y_pred_ridge})
result

           test   prediction
109352   772.00   549.657416
54549    830.00   837.192425
40538    593.00   493.444108
35994    880.63   675.630716
190506   870.00   765.087630
...         ...          ...
107843  1500.00  1009.066583
224264   351.50   385.163388
221341   545.00   481.204942
30218    270.00   490.006624
112690   660.00   905.942088

[40621 rows x 2 columns]

In [38]:
mean_squared_error(y_test, y_pred)

67288.17936719474

In [39]:
mean_absolute_error(y_test, y_pred_ridge)

196.39102221304984