In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
!mkdir -p ~/.kaggle
!cp drive/MyDrive/kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d corrieaar/apartment-rental-offers-in-germany

Downloading apartment-rental-offers-in-germany.zip to /content
 78% 73.0M/93.0M [00:00<00:00, 151MB/s]
100% 93.0M/93.0M [00:00<00:00, 155MB/s]

In [4]:
!ls

apartment-rental-offers-in-germany.zip	drive  sample_data

In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [6]:
import zipfile
zip_ref = zipfile.ZipFile('apartment-rental-offers-in-germany.zip', 'r')
zip_ref.extractall('files')
zip_ref.close()
df = pd.read_csv('/content/files/immo_data.csv')

In [7]:
pd.set_option('display.max_columns', None)
df.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,scoutId,noParkSpaces,firingTypes,hasKitchen,geo_bln,cellar,yearConstructedRange,baseRent,houseNumber,livingSpace,geo_krs,condition,interiorQual,petsAllowed,street,streetPlain,lift,baseRentRange,typeOfFlat,geo_plz,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden,livingSpaceRange,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,840.0,1965.0,96107057,1.0,oil,False,Nordrhein_Westfalen,True,2.0,595.0,244,86.00,Dortmund,well_kept,normal,NaN,Sch&uuml;ruferstra&szlig;e,Schüruferstraße,False,4,ground_floor,44269,4.0,181.4,1.0,3.0,4,True,4,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,NaN,1871.0,111378734,2.0,gas,False,Rheinland_Pfalz,False,1.0,800.0,NaN,89.00,Rhein_Pfalz_Kreis,refurbished,normal,no,no_information,NaN,False,5,ground_floor,67459,3.0,NaN,NaN,NaN,3,False,4,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,1300.0,2019.0,113147523,1.0,NaN,False,Sachsen,True,9.0,965.0,4,83.80,Dresden,first_time_use,sophisticated,NaN,Turnerweg,Turnerweg,True,6,apartment,1097,3.0,NaN,3.0,4.0,3,False,4,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,NaN,1964.0,108890903,NaN,district_heating,False,Sachsen,False,2.0,343.0,35,58.15,Mittelsachsen_Kreis,NaN,NaN,NaN,Gl&uuml;ck-Auf-Stra&szlig;e,Glück-Auf-Straße,False,2,other,9599,3.0,86.0,3.0,NaN,3,False,2,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,903.0,1950.0,114751222,NaN,gas,False,Bremen,False,1.0,765.0,10,84.97,Bremen,refurbished,NaN,NaN,Hermann-Henrich-Meier-Allee,Hermann-Henrich-Meier-Allee,False,5,apartment,28213,3.0,188.9,1.0,NaN,3,False,4,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

# Pre Processing

## Find the null data

In [9]:
df.isna().sum()

regio1                           0
serviceCharge                 6909
heatingType                  44856
telekomTvOffer               32619
telekomHybridUploadSpeed    223830
newlyConst                       0
balcony                          0
picturecount                     0
pricetrend                    1832
telekomUploadSpeed           33358
totalRent                    40517
yearConstructed              57045
scoutId                          0
noParkSpaces                175798
firingTypes                  56964
hasKitchen                       0
geo_bln                          0
cellar                           0
yearConstructedRange         57045
baseRent                         0
houseNumber                  71018
livingSpace                      0
geo_krs                          0
condition                    68489
interiorQual                112665
petsAllowed                 114573
street                           0
streetPlain                  71013
lift                             0
baseRentRange                    0
typeOfFlat                   36614
geo_plz                          0
noRooms                          0
thermalChar                 106506
floor                        51309
numberOfFloors               97732
noRoomsRange                     0
garden                           0
livingSpaceRange                 0
regio2                           0
regio3                           0
description                  19747
facilities                   52924
heatingCosts                183332
energyEfficiencyClass       191063
lastRefurbish               188139
electricityBasePrice        222004
electricityKwhPrice         222004
date                             0
dtype: int64

In [10]:
df.isna().sum()/len(df)

regio1                      0.000000
serviceCharge               0.025698
heatingType                 0.166844
telekomTvOffer              0.121328
telekomHybridUploadSpeed    0.832546
newlyConst                  0.000000
balcony                     0.000000
picturecount                0.000000
pricetrend                  0.006814
telekomUploadSpeed          0.124077
totalRent                   0.150705
yearConstructed             0.212182
scoutId                     0.000000
noParkSpaces                0.653889
firingTypes                 0.211880
hasKitchen                  0.000000
geo_bln                     0.000000
cellar                      0.000000
yearConstructedRange        0.212182
baseRent                    0.000000
houseNumber                 0.264155
livingSpace                 0.000000
geo_krs                     0.000000
condition                   0.254748
interiorQual                0.419063
petsAllowed                 0.426160
street                      0.000000
streetPlain                 0.264136
lift                        0.000000
baseRentRange               0.000000
typeOfFlat                  0.136187
geo_plz                     0.000000
noRooms                     0.000000
thermalChar                 0.396154
floor                       0.190846
numberOfFloors              0.363519
noRoomsRange                0.000000
garden                      0.000000
livingSpaceRange            0.000000
regio2                      0.000000
regio3                      0.000000
description                 0.073450
facilities                  0.196853
heatingCosts                0.681912
energyEfficiencyClass       0.710668
lastRefurbish               0.699792
electricityBasePrice        0.825754
electricityKwhPrice         0.825754
date                        0.000000
dtype: float64


### Delete columns with more than 50% null data

In [11]:
null_columns = df.columns[((df.isna().sum()/len(df)) > 0.50)]
null_columns

Index(['telekomHybridUploadSpeed', 'noParkSpaces', 'heatingCosts',
       'energyEfficiencyClass', 'lastRefurbish', 'electricityBasePrice',
       'electricityKwhPrice'],
      dtype='object')

In [12]:
df = df.drop(columns = null_columns)
df.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'newlyConst', 'balcony', 'picturecount', 'pricetrend',
       'telekomUploadSpeed', 'totalRent', 'yearConstructed', 'scoutId',
       'firingTypes', 'hasKitchen', 'geo_bln', 'cellar',
       'yearConstructedRange', 'baseRent', 'houseNumber', 'livingSpace',
       'geo_krs', 'condition', 'interiorQual', 'petsAllowed', 'street',
       'streetPlain', 'lift', 'baseRentRange', 'typeOfFlat', 'geo_plz',
       'noRooms', 'thermalChar', 'floor', 'numberOfFloors', 'noRoomsRange',
       'garden', 'livingSpaceRange', 'regio2', 'regio3', 'description',
       'facilities', 'date'],
      dtype='object')


### Delete columns without useful information

In [13]:
df = df.drop(columns=['facilities','description','livingSpaceRange','scoutId','street',
                      'streetPlain','houseNumber','date','geo_bln','geo_krs','geo_plz',
                      'picturecount','telekomTvOffer'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 29 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   regio1                268850 non-null  object
 1   serviceCharge         261941 non-null  float64
 2   heatingType           223994 non-null  object
 3   newlyConst            268850 non-null  bool
 4   balcony               268850 non-null  bool
 5   pricetrend            267018 non-null  float64
 6   telekomUploadSpeed    235492 non-null  float64
 7   totalRent             228333 non-null  float64
 8   yearConstructed       211805 non-null  float64
 9   firingTypes           211886 non-null  object
 10  hasKitchen            268850 non-null  bool
 11  cellar                268850 non-null  bool
 12  yearConstructedRange  211805 non-null  float64
 13  baseRent              268850 non-null  float64
 14  livingSpace           268850 non-null  float64
 15  condition             200361 non-null  object
 16  interiorQual          156185 non-null  object
 17  petsAllowed           154277 non-null  object
 18  lift                  268850 non-null  bool
 19  baseRentRange         268850 non-null  int64
 20  typeOfFlat            232236 non-null  object
 21  noRooms               268850 non-null  float64
 22  thermalChar           162344 non-null  float64
 23  floor                 217541 non-null  float64
 24  numberOfFloors        171118 non-null  float64
 25  noRoomsRange          268850 non-null  int64
 26  garden                268850 non-null  bool
 27  regio2                268850 non-null  object
 28  regio3                268850 non-null  object
dtypes: bool(6), float64(12), int64(2), object(9)
memory usage: 48.7+ MB

### Fillna numeric data by mean

In [15]:
df.fillna(df._get_numeric_data().mean(), inplace = True)

In [16]:
df.isna().sum()

regio1                       0
serviceCharge                0
heatingType              44856
newlyConst                   0
balcony                      0
pricetrend                   0
telekomUploadSpeed           0
totalRent                    0
yearConstructed              0
firingTypes              56964
hasKitchen                   0
cellar                       0
yearConstructedRange         0
baseRent                     0
livingSpace                  0
condition                68489
interiorQual            112665
petsAllowed             114573
lift                         0
baseRentRange                0
typeOfFlat               36614
noRooms                      0
thermalChar                  0
floor                        0
numberOfFloors               0
noRoomsRange                 0
garden                       0
regio2                       0
regio3                       0
dtype: int64

### Fillna categorical data

In [17]:
for col in df.columns:
    if df[col].dtype == 'object' or df[col].dtype == 'bool':
      mode = df[col].value_counts().head(1).index[0]
      print('Null data in \"{}\" column fill with \n\"{}\"\n'.format(col , mode))
      df[col].fillna(mode, inplace = True)

Null data in "regio1" column fill with
"Nordrhein_Westfalen"

Null data in "heatingType" column fill with
"central_heating"

Null data in "newlyConst" column fill with
"False"

Null data in "balcony" column fill with
"True"

Null data in "firingTypes" column fill with
"gas"

Null data in "hasKitchen" column fill with
"False"

Null data in "cellar" column fill with
"True"

Null data in "condition" column fill with
"well_kept"

Null data in "interiorQual" column fill with
"normal"

Null data in "petsAllowed" column fill with
"negotiable"

Null data in "lift" column fill with
"False"

Null data in "typeOfFlat" column fill with
"apartment"

Null data in "garden" column fill with
"False"

Null data in "regio2" column fill with
"Leipzig"

Null data in "regio3" column fill with
"Innenstadt"

In [18]:
df.isna().sum()

regio1                  0
serviceCharge           0
heatingType             0
newlyConst              0
balcony                 0
pricetrend              0
telekomUploadSpeed      0
totalRent               0
yearConstructed         0
firingTypes             0
hasKitchen              0
cellar                  0
yearConstructedRange    0
baseRent                0
livingSpace             0
condition               0
interiorQual            0
petsAllowed             0
lift                    0
baseRentRange           0
typeOfFlat              0
noRooms                 0
thermalChar             0
floor                   0
numberOfFloors          0
noRoomsRange            0
garden                  0
regio2                  0
regio3                  0
dtype: int64

## Find incorrect data

In [19]:
df[df['totalRent'] == 0.0].shape[0]

236

In [20]:
df = df.drop(df[df['totalRent'] == 0.0].index)
df.shape

(268614, 29)

In [21]:
df = df.drop(df[df['livingSpace'] == 0.0].index)
df.shape

(268544, 29)

## Find the outlier data

In [22]:
df.dtypes

regio1                   object
serviceCharge           float64
heatingType              object
newlyConst                 bool
balcony                    bool
pricetrend              float64
telekomUploadSpeed      float64
totalRent               float64
yearConstructed         float64
firingTypes              object
hasKitchen                 bool
cellar                     bool
yearConstructedRange    float64
baseRent                float64
livingSpace             float64
condition                object
interiorQual             object
petsAllowed              object
lift                       bool
baseRentRange             int64
typeOfFlat               object
noRooms                 float64
thermalChar             float64
floor                   float64
numberOfFloors          float64
noRoomsRange              int64
garden                     bool
regio2                   object
regio3                   object
dtype: object

In [23]:
for cols in df.columns:
    if df[cols].dtype == 'int64' or df[cols].dtype == 'float64':
        upper_range = df[cols].mean() + 3 * df[cols].std()
        lower_range = df[cols].mean() - 3 * df[cols].std()
        
        indexs = df[(df[cols] > upper_range) | (df[cols] < lower_range)].index
        df = df.drop(indexs)

In [24]:
df.shape

(261393, 29)

## Find categorical features with lots of states

In [25]:
for cols in df.columns:
    if df[cols].dtype == 'object' or df[cols].dtype == 'bool':
        print('{} : {}'.format(cols,df[cols].nunique()))

regio1 : 16
heatingType : 13
newlyConst : 2
balcony : 2
firingTypes : 131
hasKitchen : 2
cellar : 2
condition : 10
interiorQual : 4
petsAllowed : 3
lift : 2
typeOfFlat : 10
garden : 2
regio2 : 419
regio3 : 8623

In [26]:
df = df.drop(columns=['firingTypes','regio2','regio3'])
df.shape

(261393, 26)

## Find duplicate rows

In [27]:
df.duplicated().value_counts()

False    259079
True       2314
dtype: int64

In [28]:
df.drop_duplicates(inplace = True)
df.shape

(259079, 26)

# Task 1

In [29]:
df.head()

,regio1,serviceCharge,heatingType,newlyConst,balcony,pricetrend,telekomUploadSpeed,totalRent,yearConstructed,hasKitchen,cellar,yearConstructedRange,baseRent,livingSpace,condition,interiorQual,petsAllowed,lift,baseRentRange,typeOfFlat,noRooms,thermalChar,floor,numberOfFloors,noRoomsRange,garden
0,Nordrhein_Westfalen,245.00,central_heating,False,False,4.62,10.000000,840.000000,1965.0,False,True,2.0,595.0,86.00,well_kept,normal,negotiable,False,4,ground_floor,4.0,181.400000,1.000000,3.000000,4,True
1,Rheinland_Pfalz,134.00,self_contained_central_heating,False,True,3.47,10.000000,901.331522,1871.0,False,False,1.0,800.0,89.00,refurbished,normal,no,False,5,ground_floor,3.0,114.749533,2.122405,3.572319,3,False
2,Sachsen,255.00,floor_heating,True,True,2.72,2.400000,1300.000000,2019.0,False,True,9.0,965.0,83.80,first_time_use,sophisticated,negotiable,True,6,apartment,3.0,114.749533,3.000000,4.000000,3,False
3,Sachsen,58.15,district_heating,False,True,1.53,40.000000,901.331522,1964.0,False,False,2.0,343.0,58.15,well_kept,normal,negotiable,False,2,other,3.0,86.000000,3.000000,3.572319,3,False
4,Bremen,138.00,self_contained_central_heating,False,True,2.46,28.804928,903.000000,1950.0,False,False,1.0,765.0,84.97,refurbished,normal,negotiable,False,5,apartment,3.0,188.900000,1.000000,3.572319,3,False

In [30]:
df1 = df[['serviceCharge', 'heatingType', 'telekomUploadSpeed', 'totalRent']]
df1.head()

,serviceCharge,heatingType,telekomUploadSpeed,totalRent
0,245.00,central_heating,10.000000,840.000000
1,134.00,self_contained_central_heating,10.000000,901.331522
2,255.00,floor_heating,2.400000,1300.000000
3,58.15,district_heating,40.000000,901.331522
4,138.00,self_contained_central_heating,28.804928,903.000000

In [31]:
df1 = pd.get_dummies(df1)
df1.head()

,serviceCharge,telekomUploadSpeed,totalRent,heatingType_central_heating,heatingType_combined_heat_and_power_plant,heatingType_district_heating,heatingType_electric_heating,heatingType_floor_heating,heatingType_gas_heating,heatingType_heat_pump,heatingType_night_storage_heater,heatingType_oil_heating,heatingType_self_contained_central_heating,heatingType_solar_heating,heatingType_stove_heating,heatingType_wood_pellet_heating
0,245.00,10.000000,840.000000,1,0,0,0,0,0,0,0,0,0,0,0,0
1,134.00,10.000000,901.331522,0,0,0,0,0,0,0,0,0,1,0,0,0
2,255.00,2.400000,1300.000000,0,0,0,0,1,0,0,0,0,0,0,0,0
3,58.15,40.000000,901.331522,0,0,1,0,0,0,0,0,0,0,0,0,0
4,138.00,28.804928,903.000000,0,0,0,0,0,0,0,0,0,1,0,0,0

In [32]:
X = df1.drop(['totalRent'], axis=1)
y = df1['totalRent']

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_train_scaled = pd.DataFrame(X_train_scaled, columns = X_train.columns)
X_test_scaled= scaler.transform(X_test)
X_test_scaled = pd.DataFrame(X_test_scaled, columns = X_test.columns)

In [35]:
class LinearRegression():
  def __init__(self, columns_size, iteration, batch_size, learning_rate):
    self.weights = np.random.rand(columns_size)
    self.iteration = iteration
    self.batch_size = batch_size
    self.learning_rate = learning_rate

  def batching(self, x, y):
    batches = []
    size = x.shape[0]
    indexes = list(range(size))
    np.random.shuffle(indexes)
    for i in range(0, size, self.batch_size):
      j = i + self.batch_size
      j = j if j < size else size
      batch = indexes[i:j]
      batches.append((x.take(batch, axis = 0), y.take(batch)))
    return batches

  def loss(self, x, y, yp):
    return (np.dot(x.T, yp - y))/(len(x))
  
  def predict(self, x):
    return np.dot(x, self.weights)

  def mse(self, yp, y):
    diff = yp - y
    se = np.power(diff, 2, dtype='float64')
    return np.mean(se)

  def train(self, X_train, y_train):
    batches = self.batching(X_train, y_train)
    for i in range(self.iteration):
      for batch in batches:
        x, y = batch
        yp = self.predict(X_train)
        loss = self.loss(X_train, y_train, yp)
        self.weights = self.weights - self.learning_rate * loss

    return self.weights

In [36]:
LR = LinearRegression(X_train_scaled.shape[1], 1000, 50000, 0.1)
LR.train(X_train_scaled, y_train)
y_pred = LR.predict(X_test_scaled)
result = pd.DataFrame({'test':y_test,'prediction':y_pred})
result

               test   prediction
266773   901.331522   672.153798
66415    426.000000   545.944158
253427  1062.500000  1277.093971
258712   530.000000   763.238279
193607   713.000000   977.746943
...             ...          ...
261946  1060.000000  1044.123478
33739    901.331522   876.806589
219707   487.000000   729.887724
153317   310.000000   616.525536
102958   901.331522  1044.123478

[51816 rows x 2 columns]

In [37]:
LR.mse(y_pred, y_test)

212864.49775890526

# Task 2

In [38]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

linear_model = LinearRegression()
linear_model.fit(X_train_scaled, y_train)
y_predict = linear_model.predict(X_test_scaled)
result = pd.DataFrame({'test':y_test,'prediction':y_predict})
result

               test   prediction
266773   901.331522   667.057101
66415    426.000000   526.597328
253427  1062.500000  1274.029927
258712   530.000000   762.067790
193607   713.000000   957.488317
...             ...          ...
261946  1060.000000  1060.392830
33739    901.331522   847.478322
219707   487.000000   723.448603
153317   310.000000   603.574857
102958   901.331522  1060.392830

[51816 rows x 2 columns]

In [39]:
mean_squared_error(y_predict, y_test)

212660.32050742905

# Task 3

In [40]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha = 0.1)
lasso.fit(X_train_scaled, y_train)
y_pred_lasso = lasso.predict(X_test_scaled)

result = pd.DataFrame({'test':y_test,'prediction':y_pred_lasso})
result

               test   prediction
266773   901.331522   667.432357
66415    426.000000   529.027229
253427  1062.500000  1272.478123
258712   530.000000   760.488222
193607   713.000000   957.032743
...             ...          ...
261946  1060.000000  1059.405906
33739    901.331522   847.817634
219707   487.000000   724.217958
153317   310.000000   604.759353
102958   901.331522  1059.405906

[51816 rows x 2 columns]

In [41]:
mean_squared_error(y_test, y_pred_lasso)

212678.6329432025

In [42]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha = 0.1)
ridge.fit(X_train_scaled, y_train)
y_pred_ridge = ridge.predict(X_test_scaled)

result = pd.DataFrame({'test':y_test,'prediction':y_pred_ridge})
result

               test   prediction
266773   901.331522   667.067060
66415    426.000000   526.618990
253427  1062.500000  1274.028057
258712   530.000000   762.069010
193607   713.000000   957.512931
...             ...          ...
261946  1060.000000  1060.369880
33739    901.331522   847.511181
219707   487.000000   723.452479
153317   310.000000   603.588763
102958   901.331522  1060.369880

[51816 rows x 2 columns]

In [43]:
mean_squared_error(y_test, y_pred_ridge)

212660.05425165442